---
import dayjs from "dayjs";
import { infoTest } from "../const";
import type { EnvelopeInfo } from "../types";
const { title, desc, image, date, badge, categories, tags, url } =
  Astro.props as EnvelopeInfo;
const tag_url = url.split("/").slice(0, -1).join("/") + "/tag";
const displayDate = dayjs(date).format("YYYY MM DD");
const hasTategories = categories && categories.length > 0;
const hasTags = tags && tags.length > 0;
const target = "_self";
---

<link
  rel="stylesheet"
  href="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<card>
  <div
    class="project-details"
    style={image ? "max-width: 55%;" : "max-width: 100%;"}
  >
    <div class="title-badge">
      <h1><a href={url} target={target} class="project-title">{title}</a></h1>
      {badge && <span class="badge">{badge}</span>}
    </div>
    <p>{desc}</p>
    <p style="margin-top: 10px;">
      <i class="fa fa-calendar"></i>&nbsp;&nbsp;{displayDate}
    </p>
    <div class="tags mt-2">
      {
        hasTategories ? (
          categories.map((categoroy) => (
            <>
              <a href={`/blog/categories/${categoroy}`} class="btn">
                {categoroy}
              </a>
              <span>&thinsp;</span>
            </>
          ))
        ) : (
          <div class="btn btn-xs btn-secondary btn-disabled rounded-full">
            {infoTest.noCategory}
          </div>
        )
      }
      {
        hasTags ? (
          tags.map((tag) => (
            <>
              <a href={`/blog/tag/${tag}`} class="btn btn-xs btn-secondary">
                {tag}
              </a>
              <span>&thinsp;</span>
            </>
          ))
        ) : (
          <div class="btn btn-xs btn-secondary btn-disabled">
            {infoTest.noTag}
          </div>
        )
      }
    </div>
  </div>
  {
    image && (
      <div class="image-container">
        {" "}
        <img src={image} alt={title} class="project-image" />{" "}
      </div>
    )
  }
</card>

<style>
  card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding-left: 20px;
    display: flex;
    align-items: flex-start; /* Align items to the top */
    background: rgba(255, 255, 255);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: all 0.2s ease-in-out;
    position: relative;
    width: 100%;
    overflow: hidden;
    flex-direction: row;
    height: auto;
  }

  card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  }

  .title-badge a {
    color: rgb(57, 78, 106);
    border-bottom: none;
  }

  .title-badge {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Space between title and description */
  }
  .project-details {
    text-align: left;
    margin: 10px;
    margin-bottom: 20px;
    position: relative; /* For positioning within the card */
    height: 100%;
    flex: 1;
    flex-direction: column;
    max-width: 60%;
  }

  .image-container {
    position: absolute; /* 绝对定位 */
    top: 0; /* 顶部对齐 */
    right: 0; /* 左侧对齐 */
    width: auto; /* 让宽度可以根据内容自适应 */
    height: 100%; /* 高度占满整个父元素 */
    overflow: hidden; /* 隐藏超出部分 */
    max-width: 45%;
  }

  .project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    mask-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .badge {
    background: linear-gradient(to right, rgb(64, 142, 231, 0.8), transparent);
    background-color: rgba(74, 144, 226, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    margin-left: 20px; /* Space between title and badge */
    transition: all 0.2s ease-in-out;
  }

  .badge:hover {
    background-color: #007bff;
    cursor: pointer;
  }

  .project-link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    margin-top: 10px;
  }

  .project-title {
    font-size: 45px;
  }

  .project-title::before {
    background-color: transparent;
    background: transparent;
  }

  .project-title:hover::before {
    background-color: transparent;
    background: transparent;
  }

  .btn {
    font-weight: bold;
    font-size: 12px;
    background-color: #3593f7;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    margin-bottom: 10px;
    transition: all 0.2s ease-in-out;
  }

  .btn:hover {
    background-color: #007bff;
  }

  .btn:active {
    background-color: #025ec0;
  }

  .btn::before {
    background-color: transparent;
    background: transparent;
  }

  .btn-secondary {
    background-color: #7606df;
  }

  .btn-secondary:hover {
    background-color: #5c0bad;
  }

  .btn-secondary:active {
    background-color: #3d038a;
  }
</style>
