---
import { Image } from "astro:assets";
import { infoTest } from "../const";
import type { EnvelopeInfo } from "../types";
const { title, desc, image, date, badge, categories, tags, url } =
  Astro.props as EnvelopeInfo;
const tag_url = url.split("/").slice(0, -1).join("/") + "/tag";
const displayDate = date;
const hasTategories = categories && categories.length > 0;
const hasTags = tags && tags.length > 0;
const target = "_self";
---

<link rel="stylesheet" href="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/font-awesome/4.7.0/css/font-awesome.min.css">
<card>
    <div class="project-details">
      <div class="title-badge">
        <h1><a href={url} target={target} class="project-title">{title}</a></h1>
        {badge && <span class="badge">{badge}</span>}
      </div>
      <p>{desc}</p>
      <p><i class="fa fa-calendar"></i>&nbsp;&nbsp;{displayDate}</p>
    </div>
    {image && <img src={image} alt={title} class="project-image" />}
  </card>
  
  <style>
    card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding-left: 20px;
    display: flex;
    align-items: flex-start; /* Align items to the top */
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
    overflow: hidden; /* Ensures gradient is contained */
    transition: all 0.2s ease-in-out;
    min-height: 200px; /* 设置最小高度 */
  }

  card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  }

  .title-badge a {
    color: rgb(57, 78, 106);
    border-bottom: none;
  }

  .title-badge {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Space between title and description */
  }
  .project-details {
    margin: 10px;
    flex: 1;
    position: relative; /* For positioning within the card */
    height: auto;
  }

  .project-image {
    height: auto; /* 设置为100%的高度 */
    max-width: 50%;
    border-radius: 8px 8px 0 0;
    object-fit: cover; /* 保持图片比例 */
    opacity: 1;
    mask-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .badge {
    background: linear-gradient(to right, rgb(64, 142, 231, 0.8), transparent);
    background-color: rgba(74, 144, 226, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    margin-left: 20px; /* Space between title and badge */
    transition: all 0.2s ease-in-out;
  }

  .badge:hover {
    background-color: #007bff;
    cursor: pointer;
  }

  .project-link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    margin-top: 10px;
  }

  .project-title:hover {
    color: #007bff;
  }

  .project-title::before {
    background-color: transparent;
    background: transparent;
  }

  .project-title:hover::before {
    background-color: transparent;
    background: transparent;
  }
</style>