---
import Profile from "../components/Profile.astro";
import Menu from "../components/Menu.astro";
import Footer from "../components/Footer.astro";
import Content from "../components/Content.astro";
import Tags from "../components/Tags.astro";
import Categories from "../components/Categories.astro";
import ThemeIcon from "../components/ThemeIcon.astro"; // 导入 ThemeIcon 组件
import "../styles/global.css";
import "../styles/waline.scss";
import { siteName } from "../const";
const { title, isBlog } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{siteName} - {title}</title>
  </head>
  <body>
    <div class="layout">
      <div class="left-column">
        <Profile />
        <Menu />
      </div>
      <div class="center-column">
        <slot />
        <Footer />
      </div>
      <div class="right-column">
        {isBlog && <Content />}
        <Categories />
        <Tags />
      </div>
    </div>
    
    <!-- 添加昼夜切换按钮 -->
    <div class="theme-toggle" style="position: fixed; bottom: 20px; right: 20px;">
      <ThemeIcon />
    </div>
    <script>
      const numStars = 250; // 星星数量
const body = document.body;

for (let i = 0; i < numStars; i++) {
    const star = document.createElement('div');
    star.classList.add('star');

    const size = Math.random() * 3 + 1; // 星星大小
    const x = (Math.random() * 2 - 1) * window.innerWidth; // 随机位置
    const y = (Math.random() * 2 - 1) * window.innerHeight;

    star.style.width = `${size}px`;
    star.style.height = `${size}px`;
    star.style.left = `${x}px`;
    star.style.top = `${y}px`;

    body.appendChild(star);

    // 随机动画时长
    star.style.animationDuration = `${Math.random() * 1 + 0.5}s, ${Math.random() * 20 + 10}s`; // 设置随机时长，移动时间增大
    star.style.animationDelay = `${Math.random() * 2}s`;
}
    </script>
  </body>
</html>
